/* ===================================================
    STYLE - IFB FAIR-bioinfo training
===================================================== */

/* ---------------------------------------------------
    GENERAL STYLE
----------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 75px;
}

#myBtn {
    border: none;
    outline: none;
    cursor: pointer;
    position: fixed;
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    right: 15px;
    bottom: 15px;
    padding: 8px 0px;
    background: #173b6c;
    color: #fff;
    transition: display 0.5s ease-in-out;
    z-index: 99999;
}

#myBtn:hover {
  background-color: #8a8b8b;
}


p{
    text-align: justify;
}

h2,h3, h4 {
    color: #173b6c;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

h2::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background: #173b6c;
    margin-top: 3px;
    box-sizing: border-box;
}


.sectionCover{
    width: 100%;
    height: 400px;
    margin-top:56px; 
    margin-bottom: 30px;
    background-image: url('../img/cover.jpg');
    background-size: cover;
    color: white; 
    text-shadow: #173b6c 1px 0 10px; 
    text-align: center;
}

section {
    padding: 10px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer::before {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background: #f8f9fa !important;
    margin-bottom: 20px;
    box-sizing: border-box;
}